.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
  display: block;
}

.card__title {
  margin-bottom: 8px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/heart-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: url(../images/pointer.svg) 18 22, pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
