.footer {
  width: 104px;
  height: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
  opacity: 0.7;
  color: #212121;
  width: fit-content;
}
